{{ define "main" }}


<div class="container p-5">
    <h1>Filamendid</h1>
    <div class="lead">
        Fiberlogy on Poola ettevõte, mis loodi 3D filamentide arendamiseks. Tänu aastate pikkusele pühendumisele ja teadmistele plastikute omadustes, on väljatöötatud erinevaid materjale, saavutamaks parim tulemus toodete printimiseks.

        Materjalide väljatöötamisel on just arvestatud tehnoloogiliste ning spetsiifiliste toodete printimiseks mõeldud filamentidele.

        Tootevalikust leiab ka kõige nõudlikum printija omale sobiva filamendi.

        Pakume laias valikus Fiberlogy filamente. Fiberlogy on väljatöötanud erinevaid materjale. Keemia, temperatuuri ning kulumiskindlad materjalid.  Lai valik erinevaid värvitoone.
    </div>   
</div>

<div class="w-100 text-center">
    <img src="/img/filamendid.jpg">
</div>

<div class="p-5">
    <!-- Nav tabs -->
      <!-- <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#abs">ABS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#absplus">ABS PLUS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#esdabs">ESD ABS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#fiberflex30">FIBERFLEX 30D</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#fiberflex40">FIBERFLEX 40D</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#fiberfood">FIBERFOOD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#hdpla">HD PLA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#hips">HIPS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#impactpla">IMPACT PLA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#mineralpla">MINERAL PLA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#nylonpa">NYLON PA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pa12">PA12+CF</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#petg">PET-G</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#easypla">EASY PLA</a>
        </li>
      </ul>
     -->
      <!-- Tab panes -->
      <!-- <div class="tab-content">
        <div id="home" class="container tab-pane active"><br>
          <h3>ABS</h3>
          <p>ABS-ile on iseloomulik tugevus ja kõrge löögikindlus. Samuti on see vastupidav kõrgele temperatuurile ja kulumisele. Selle filamendi abil tehtud trükiseid saab edasi töödelda mehaaniliselt ja keemiliselt (atsetooniga).
Trükitud elemendid võivad olla uute toodete kontseptsioonimudelid või isegi nende lõplikud versioonid. ABS-d võib kasutada ka prototüübielementide tootmiseks, mis nõuavad suuremat tugevust.</p>
        
        </div>
        <div id="menu1" class="container tab-pane fade"><br>
          <h3>Menu 1</h3>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div id="menu2" class="container tab-pane fade"><br>
          <h3>Menu 2</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
      </div> -->
</div>

</div>

{{ end }}