{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row " >
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.contact.title }}{{.}}{{ end }}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row" >
            <div class="col-sm-12" >
                <form  action="//formspree.io/{{ with .Site.Params.email }}{{.}}{{ end }}" method="POST" name="sentMessage" id="contactForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ with .Site.Params.contact.form.name.text }}{{.}}{{ end }}</label>
                            <input type="text" name="name" class="form-control" placeholder="{{ with .Site.Params.contact.form.name.text }}{{.}}{{ end }}" id="name" required data-validation-required-message="{{ with .Site.Params.contact.form.name.error }}{{.}}{{ end }}">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ with .Site.Params.contact.form.email.text }}{{.}}{{ end }}</label>
                            <input type="email" name="_replyto" class="form-control" placeholder="{{ with .Site.Params.contact.form.email.text }}{{.}}{{ end }}" id="email" required data-validation-required-message="{{ with .Site.Params.contact.form.email.error }}{{.}}{{ end }}">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div>
                        <input type="hidden"  name="_subject" value="New submission!">
                        <input type="text" name="_gotcha" style="display:none" />
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>{{ with .Site.Params.contact.form.message.text }}{{.}}{{ end }}</label>
                            <textarea rows="5" name="message" class="form-control" placeholder="{{ with .Site.Params.contact.form.message.text }}{{.}}{{ end }}" id="message" required data-validation-required-message="{{ with .Site.Params.contact.form.message.error }}{{.}}{{ end }}"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="contact-btn">{{ with .Site.Params.contact.form.button.text }}{{.}}{{ end }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<style>

.btn-outline {
  margin-top: 15px;
  border: solid 2px #fff;
  font-size: 20px;
  color: #fff;
  background: 0 0;
  transition: all 0.3s ease-in-out;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  border: solid 2px #fff;
  color: #42597B;
  background: #fff;
}

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eee;
}
.floating-label-form-group input, .floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: 0;
  border-radius: 0;
  font-size: 1.5em;
  background: 0 0;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  transition: top 0.3s ease, opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eee;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #42597B;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eee;
}


.contact-btn {
  padding: 18px 27px;
  font-size: 19px;
  line-height: 1.3333333;
  border-radius: 6px;
  color: #ffffff;
  background-color: #a2d75e;
  border-color: #a2d75e;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 2px solid #a2d75e;
  -webkit-user-select: none;
  user-select: none;
  transition: all 0.5s;
}
.contact-btn:hover {
  background-color: #fff;
  color: #388398;
}


</style>