<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <img class="navbar-brand" style="width: 140px;" src="img/futusollogo.png" alt="">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav text-uppercase">
         <li class="nav-item">
              <a class="nav-link active" href="#futusol" data-toggle="tab"><h7>Futusol</h7></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#filamendid" data-toggle="tab"><h7>Filamendid</h7></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#tutvustus" data-toggle="tab"><h7>Tutvustus</h7></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#teenused" data-toggle="tab"><h7>Teenused</h7></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#tehtudtood" data-toggle="tab"><h7>Tehtud Tööd</h7></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#kontakt" data-toggle="tab"><h7>Kontakt</h7></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="https://www.futusol.voog.com/"><h7>E-Pood</h7></a>
          </li>
      </ul>

      <ul class="navbar-nav mr-2 ml-0">
        <li class="nav-item text-uppercase">
            <a class="nav-link" href="https://futu.futusol.eu/" target="_blank"><h7>Andmebaas</h7></a>
        </li>
      </ul>
    </div>

   
</nav>

<header>
	<div class="view bg-img" style="margin-top: 1px;">
		<div class="h-100 d-flex justify-content-center align-items-center flex-column">
    
      <main role="main" class="container text-white text-center">
        <div class="tab-content">
          <div class="tab-pane active" id="futusol">
              <h1>Futusol</h1> 
              <p class="lead">Futusol oü alustas tegevust 2018 aastal. Firma tegevuseks on 3D printimine, skanneerimine ning 3D modelleerimine. 2019 aastal alustati koostööd kahe filamenditootjaga, et oleks võimalikult suur valik erinevaid kvaliteetseid materjale.Pakume suurimat filamentide valikut siinsel turul. Valikus on  28 erinevat materjali ning väga palju erinevaid värvitoone.  2020 alustati erinevate ortooside ning proteesiosade prototüüpide väljatöötamist. </p>
          </div>
          <div class="tab-pane" id="filamendid">
              <h1>Filamendid</h1> 
              <p class="lead">
                  <h3>Fiberlogy</h3>
Fiberlogy asutati ja tegutseb Poolas . Oleme uhked, et saame osa rahvusvahelisest tehnoloogilisest revolutsioonist. Kaasaegne tootmisliin ja meie tehnoloogide teadmised võimaldavad meil pakkuda FFF / FDM printeritele kordumatute omaduste ja parameetritega filamente.


Fiberlogyl on mitmeaastane kogemus plastide töötlemisel.. Meie pühendumus uute materjalide ja uute tootmisvõimaluste katsetamisele võimaldab meil saavutada hämmastavaid tulemusi. Pakume oma klientidele kordumatute omadustega filamente. Meie materjalidel on suurepärased omadused ja parameetrid - läbimõõdu tolerants +/- 0,02 mm ja ovaalne tolerants + 0,01 mm.



<h3>Rosa3D</h3>    
Olen 3D-printimiseks mõeldud filamentide tootja Poolas. Nende peamine prioriteet on luua fenomenaalse kvaliteediga tooteid, mis sobivad tööstuslikuks, tehniliseks ja suureformaadiliseks printimiseks. Oleme uhked oma professionaalse ja kogenud meeskonna ning moodsate masinate üle, mis võimaldavad meil erandkorras kontrollida söödetavat materjali, samuti selle ümarust ja suurust.

Materjali valik põhineb alati meie testide tulemustel ja on tehtud praktikute, st Poola 3D-printerite tootjate toel, kes annavad meile lahkelt võimaluse oma filamente testida ekstreemsetes tingimustes, väljatrükkidega, mis kaaluvad paar või paar isegi üle tosina kilogrammi.


Futusol Oü on Fiberlogy ning Rosa3D  ametlik partner Eestis. 

<!-- http://www.futusol.voog.com/ -->

      </div>
          <div class="tab-pane" id="tutvustus">
              <h1>Tutvustus</h1> 
              <p class="lead">Futusol alustas tegevust 2018 aastal, oleme arenev ettevõte, kelle põhitegevusalaks on 3D skaneerimine ja 3D printimine. Tagamaks kvaliteeti alustasime koostööd Fiberlogy filamentide tootjaga, kelle põhilisteks arengusuudadeks on tehnoloogiliste filamentide arendamine ja tootmine. 3D printimine on alles algusjärgus ning pidevalt arenev valdkond. Meie eesmärgiks on pakkuda koostöös klientidega parimaid lahendusi. Iga kliendiga tegeletakse personaalselt leidmaks parim lahendus just temale. Igale probleemile on olemas lahendus!!</p>
          </div>
          <div class="tab-pane" id="teenused">
              <h1>Teenused</h1> 
                <div class="teenused-container container p-5" style="color: white;"> 
                    <div class="lead">
                        Pakume erinevaid 3D teenuseid
                    </div>
                    <hr>   
                    <div class="row justify-content-center align-items-center">
                        <div class="col-sm">
                            <div class="spoiler">
                                <div class="spoiler-btn"><u><b>3D Printimine</b></u></div>
                                <div class="spoiler-body collapse">
                                    <img src="img/printerCard.jpg" class="card-img-top" style="width: 70%;" alt="...">
                                    <p class="card-text">Meie kasutuses on 2 suuremõõtmelist printerit. Suudame printida mõõtmetega 600*600*600 mm. Printimistemperatuur on kuni 400 kraadi ning põhjatemperatuur kuni 130 kraadi. 2-in 1-out printimise võimalus. Kinnine printer tagab kvaliteetse toote. Suudame printida kõiki antudhetkel olemasolevaid materjale.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="spoiler">
                                <div class="spoiler-btn"><u><b>3D Skanneerimine</b></u></div>
                                <div class="spoiler-body collapse">
                                    <img src="img/scanningCard.jpg" class="card-img-top" style="width: 70%;" alt="...">
                                    <p class="card-text">Meie kasutuses on 3D skanner, mis võimaldab skaneerida täpsusega 0,5mm. Skaneerimis kaugus ca 40 cm. Ühilduvus arvutiga USB 2.0</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="spoiler">
                                <div class="spoiler-btn"><u><b>3D Printimine</b></u></div>
                                <div class="spoiler-body collapse">
                                    <img src="img/modelingCard.jpg" class="card-img-top" style="width: 90%;" alt="...">
                                    <p class="card-text">Pakume 3D Modelleerimis ja Kujundus teenust</p>
                                </div>
                            </div>
                        </div>
                    </div>
                                      
                    <!-- <div class="card-group">
                        <div class="card">
                            <img src="img/modelingCard.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">3D Modelleerimine</h5>
                            </div>
                        </div>
                        <div class="card">
                            <img src="img/printerCard.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">3D Printimine</h5>
                            <p class="card-text">Meie kasutuses on 2 suuremõõtmelist printerit. Suudame printida mõõtmetega 600*600*600 mm. Printimistemperatuur on kuni 400 kraadi ning põhjatemperatuur kuni 130 kraadi. 2-in 1-out printimise võimalus. Kinnine printer tagab kvaliteetse toote. Suudame printida kõiki antudhetkel olemasolevaid materjale.</p>
                            </div>
                        </div>
                        <div class="card">
                            <img src="img/scanningCard.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                            <h5 class="card-title">3D Skaneerimine</h5>
                            <p class="card-text">Meie kasutuses on 3D skanner, mis võimaldab skaneerida täpsusega 0,5mm. Skaneerimis kaugus ca 40 cm. Ühilduvus arvutiga USB 2.0</p>
                            </div>
                        </div>
                    </div> -->
                </div>
          </div>
          <div class="tab-pane" id="tehtudtood">
              <h1>Tehtud tööd</h1> 

          </div>
          <div class="tab-pane" id="kontakt">
              <div class="row justify-content-center align-items-center">
                  <div class="col-sm mx-auto">
                    <h1>Kontakt</h1>
                    <p><b>Futusol OÜ</b></p>
                    <p>Reg NR: 14563451</p>
                    <p><b>Liivalao5, Tallinn, Harjumaakond, Eesti, 11216</b></p>
                    <p><b>E-Mail:</b> info@futusol.eu</p>
                    <p><b>tel:</b> +372 55696592</p>
                  </div>
                  <div class="col-sm">
                     <img src="img/asukoht.png" class="float-right" style="width: 500px; border-radius: 20px;" alt="">
                  </div>
                

              </div>
            </div>
        </div>
      </main>
  </div>
</header>

<div class="w-100 fixed-bottom">
 
    <a tabindex="0" 
    class="popover-dismiss myhover " 
     data-toggle="popover" 
     data-trigger="focus" 
      title="EAS" data-content="
Projekti EU52781 “3D printimine”  rahastas EAS summas 15 000.- omafinantseering 6296.-

Projekti eesmärgiks on soetada 3D skanner, 3D printerid, tarkvara ning riistvara antud seadmete haldamiseks.

ATV jooksev Väiketoetus uudsete lahenduste
väljatöötamiseks ja elluviimiseks sotsiaalvaldkonnas
(hoolekandeteenused) - 12.06.2018-31.12.2019
Proteeside ning ortooside tootmise digitaliseerimine.
Kogumaksumus (EUR): 54 024,62
Omafinantseeringu summa (EUR): 14 024,62" 
    >
      <img src="img/EAS.png" class="bg-white" style="width: 7%">
      <img src="img/innove.png" class="bg-white" style="width: 10%">
    </a>


</div>


<style>
html,
body,
header,
.view {
  height: 690px;
}

.lead {
    font-size: 25px !important;
}

.myhover:hover {
  cursor: pointer;
}

.bg-img {
	background-image: url('img/background.jpg');
	background-repeat: repeat-x;
	background-size: fill;
}

</style>


