<nav class="navbar navbar-expand-lg navbar-dark bg-dark mx-auto">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav nav text-uppercase">
         <li class="nav-item active">
              <a class="nav-link" href="#futusol" data-toggle="tab"><h4>Futusol</h4></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#filamendid" data-toggle="tab"><h4>Filamendid</h4></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#tutvustus" data-toggle="tab"><h4>Tutvustus</h4></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#kontakt" data-toggle="tab"><h4>Kontakt</h4></a>
          </li>
          
      </ul>
    </div>
</nav>

<header>
	<div class="view bg-img">
		<div class="h-100 d-flex justify-content-center align-items-center flex-column">
    
      <main role="main" class="container text-white">
        <div class="tab-content">
          <div class="tab-pane active" id="futusol">
              <h4>Futusol</h4> 
          </div>
          <div class="tab-pane" id="filamendid">
              <h4>Filamendid</h4> 
          </div>
          <div class="tab-pane" id="tutvustus">
              <h4>Tutvustus</h4> 
          </div>
          <div class="tab-pane" id="kontakt">
              <h4>Kontakt</h4>
          </div>
        </div>
      </main>

			<div class="lead text-white font-weight-bold text-center my-5" style="width: 41%;"><a class="text-reset" href="https://futusol.voog.com/">Meie E-Pood Asub Siin</a></div>
		</div>
	</div>
</header>

<p style="width: 50%;" class="lead text-center mx-auto">Futusol OÜ alustas tegevust 2018 aastal ning on arenev ettevõte. Põhitegevuseks on 3D printimine ja 3D scanneerimine. Oleme Fiberlogy  filamentide esindajad Eestis.</p>

<div class="w-100 text-center">
  <img src="img/toetused.jpg"  alt="toetused" class="w-50 ">
</div>



<style>
html,
body,
header,
.view {
  height: 700px;
}



.bg-img {
	background-image: url('img/background.jpg');
	background-repeat: no-repeat;
	background-size: fill;
}

</style>


