<script
  src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
  integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
  crossorigin="anonymous"
></script>

<script>
  $(function() {
    $(".example-popover").popover({
      container: "body",
    });
  });
</script>

<script>
  $(".popover-dismiss").popover({
    trigger: "focus",
  });
</script>

<script>
  $.fn.ready(function() {
    // Spoiler
    $(document).on("click", ".spoiler-btn", function(e) {
      e.preventDefault();
      $(this)
        .parent()
        .children(".spoiler-body")
        .collapse("toggle");
    });
  });
</script>

<script>
  // -----------------START OF STYLING ELEMENT-----------------
  var btns = document.getElementsByClassName("item");

  for (var i = 0; i < btns.length; i++) {
    btns[i].addEventListener("click", function() {
      var siblings = this.parentNode.childNodes;
      siblings.forEach(function(element) {
        if (element.className) {
          // && element.className.indexOf('active') !== -1) { // TAKIT: Removed, see suggestion below
          if (element.classList.contains("active"))
            // TAKIT: Suggestion: Easier, and better readability!
            element.classList.remove("active");
        }
      });
      this.classList.add("active"); // TAKIT: Suggestion instead of this.className += " active";
    });
  }
  // -----------------END OF STYLING ELEMENT-----------------

  // -----------------START OF LOGIC ELEMENT-----------------

  const map = new Map();
  // register item element as a key and object with corresponding description / image as value
  // Fiberology
  map.set(item1, {
    desc:
      "Polüpropüleen (PP) on üks tööstuses kõige sagedamini kasutatavaid polümeere. Selle suur paindlikkus, uskumatu vastupidavus, väike kaal ja vastupidavus kemikaalidele on tähendanud, et see on leidnud lugematuid rakendusi alates meditsiinist kuni autotööstuse ja pakenditööstuseni. Fiberlogy PP filament on ära kasutanud selle uskumatu materjali potentsiaali ja võimaldanud seda kasutada 3D-printimisel.",
    img: "img/PP.png",
  });
  map.set(item2, {
    desc:
      "Tänu vastupidavusele kõrgetele temperatuuridele, alkoholidele ja kemikaalidele on nailon eriti kasulik mehaaniliste ja tehniliste rakenduste jaoks. See on äärmiselt vastupidav, tugev ja purunematu. See on kergesti töödeldav metallitöötluseks mõeldud tööriistadega ja see on ka kergesti värvitav, mis muudab selle veelgi mitmekülgsemaks ja funktsionaalsemaks See on uskumatult tugev – enne purunemist paindub see 50%. Siiski ei ole see vastupidav kontsentreeritud leeliste ja hapete suhtes.",
    img: "img/nylonPa.png",
  });
  map.set(item3, {
    desc:
      "NYLON PA12 + CF on veel üks filament PA12 tehniliste võimaluste loetelus, mida on tugevdatud süsinikkiudude lisamisega 5% ja 15%. Seda iseloomustab kõrge termiline vastupidavus ja vähem kokkutõmbumist võrreldes modifitseerimata nailon PA12-ga. Süsinikkiu lisamine võimaldab komponendi kaalu vähendada, säilitades selle kõrge konstruktsiooni jäikuse. PA12 + CF-l on mitmesuguseid rakendusi kogu tööstuses, sealhulgas autotööstuses ja masinaehitussektoris, pakkudes täiustatud prototüüpide, droonide ja lõpptoodete loomist, mis nõuavad suuremat vastupidavust, vähendades samal ajal nende kaalu.",
    img: "img/Pa12.png",
  });
  map.set(item4, {
    desc:
      "EASY PET-G on mõeldud neile, kes otsivad 3D-printimise lihtsust koos funktsionaalsete ja esteetiliste väärtustega. Glükooli lisamisega rikastatud PET tagab kõrge vastupidavuse mehaanilistele, keemilistele ja atmosfäärilistele teguritele ning selle kõrge amorfsus koos väga hea vooluga võimaldab saada suurema läbipaistvuse ja kihtide parema sidumisega prindid. Ülaltoodud omadused muudavad EASY PET-G suurepärase kombinatsiooni traditsioonilise PET-G tugevusest ja EASY PLA lihtsusest ja ennustatavusest, mida 3D-printeri kasutajad hindavad.",
    img: "img/EASYPet.png",
  });

  map.set(item5, {
    desc:
      "Tänu PET-G omadustele saate teha funktsionaalsemaid prototüüpe ja lõppkasutuse osi. See on võimalik tänu tugevusele, mis on parem kui ABS-il. Tänu glükoolühendile on materjal vastupidavam ja väheneb kahanemine. Keemiline vastupidavus hapete, soolade ja aluseliste ainete suhtes suurendab ka selle võimalusi.Läbipaistvad ja mitte-poolläbipaistvad värvivalikud võimaldavad luua hämmastavaid tooteid erinevatel eesmärkidel. Seda materjali võib kasutada elektroonikas, prototüüpides ja kaunistustes. Netomass: 0,85 kg Printimistemperatuur: 230 ° C – 250 ° C Põhjatemperatuur: 90 ° C Diameetri tolerants: +/- 0,02 mm",
    img: "img/PET_G.png",
  });
  map.set(item6, {
    desc:
      "Termoplastne elastomeer, mille kõvadus on 40D Shore skaalal, mida võib trükkida kiirusega kuni 45 mm / s. Kummissarnast materjali võib venitada kuni 680% -ni algsetest mõõtmetest. Lisaks on sellel kõrge löögikindlus madalatel temperatuuridel ja on vastupidav kulumisele. Tal on väga hea keemiline vastupidavus. Kõik materjalide omadused võimaldavad seda kasutada kohtades, mis vajavad sagedast painutamist, masinate ja ühenduselementide kummist osi.",
    img: "img/Fiberflex40D.png",
  });
  map.set(item7, {
    desc:
      "Termoplastne materjal ja alternatiiv kummitaolistele materjalidele printimise entusiastile. Filamenti iseloomustab vähendatud kõvadus kuni 30D Shore skaalal, väga hea paindlikkus ja suurem löögitugevus. Materjali soovitatakse eriti rehvide, tihendite, rihmade ja igasuguste elastsete elementide trükkimiseks. ",
    img: "img/Fiberflex30D.png",
  });
  map.set(item8, {
    desc:
      "BVOH-filament on buteen-diool-vinüülalkoholi kopolümeer. Seda saab kasutada täiuslike prototüüpide, keerukate struktuuride ja liikuvate mehhanismide printimiseks. See on eriti kasulik olukorras, kus traditsioonilisi toestusi võib olla keeruline eemaldada või nendest ei piisa rahuldava lõpptulemuse saamiseks. BVOH-ga on äärmiselt keerukate 3D-objektide printimine äärmiselt lihtne. BVOH-filamendi abil loodud tuge on väga lihtne eemaldada. Pärast 3D-mudeli printimist asetage see lihtsalt sooja vette ja filament lahustub täielikult. Selle tulemuseks on tegelik mudel märkimisväärselt parema kvaliteediga kui tugede korral, mis tuleb välja murda. BVOH-filamenti saab kasutada topelt ekstruudriga printeritega. Seda iseloomustab suur nakkuvus erinevat tüüpi materjalidega. Seda saab kombineerida selliste populaarsete materjalidega nagu PLA, ABS, PET-G, ASA, nailon, elastsed filamendid (nt TPU) jne.",
    img: "img/BVOH.png",
  });
  map.set(item9, {
    desc:
      "HIPS-i saab kasutada printimiseks või teiste materjalide toetusmaterjaliks. Printimise täpsus ja kergem kaal võimaldab seda kasutada modelleerimisel, miniatuuride ja erinevate osade loomisel. Selle filamendi lahustamise võimalus võimaldab seda kasutada tugimaterjalina väga keerulistes printimistes ja sellele järgneva nõuetekohase printimise puhastamiseks.",
    img: "img/HIPS.png",
  });
  map.set(item10, {
    desc:
      "Puidu-sarnane materjal, mis tänu tugevusele võimaldab ekstruuderisse paremini sööta. Saadud tooted võib töödelda, värvida, lakkida, andes teile veelgi rohkem võimalusi sellefilamendi kasutamiseks. Toote saadav välimus võimaldab seda kasutada kunsti- ja modelleerimisstuudios.",
    img: "img/Fiberwood.png",
  });
  map.set(item11, {
    desc:
      "ABS-ile on iseloomulik tugevus ja kõrge löögikindlus. Samuti on see vastupidav kõrgele temperatuurile ja kulumisele. Selle filamendi abil tehtud trükiseid saab edasi töödelda mehaaniliselt ja keemiliselt (atsetooniga). Trükitud elemendid võivad olla uute toodete kontseptsioonimudelid või isegi nende lõplikud versioonid. ABS-d võib kasutada ka prototüübielementide tootmiseks, mis nõuavad suuremat tugevust.",
    img: "img/ABS.png",
  });
  map.set(item12, {
    desc:
      "ABS PLUS on multifunktsionaalne materjal 3D-printimiseks, soovitatav eriti prototüüpide mudelitele tänu oma erilistele omadustele, nagu suurenenud tugevus ja vähenenud protsessi kokkutõmbumine. Veelgi enam, printimine on lihtsam ja kiirem võrreldes tavalise ABS-ga ja ei vaja printimist suletud printeris. Samuti võib seda töödelda mehaaniliselt ja keemiliselt. ABS PLUS pakub rakendust tööstuses, kus täiustatud prototüüpide ja lõppkasutuse osade loomiseks on vaja suuremat tugevust.",
    img: "img/absplus.png",
  });
  map.set(item13, {
    desc:
      "ESD ABS-filament on ette nähtud elektrooniliste seadmete komponentide trükkimiseks, mis on elektrostatilise laengu tagajärjel ohustatud. Kõrge elektrilaengu hajutamise omadused tagavad elektrooniliste komponentide ohutuse, minimeerides osalise või püsiva kahjustuse ohtu. ESD ABS-ga tehtud tooted tagavad vastupidavuse kemikaalidele, kõrgetele temperatuuridele ja mehaanilistele kahjustustele. ",
    img: "img/ESD_ABS.png",
  });
  map.set(item14, {
    desc:
      "See filament on 3D-printimise alusmaterjal. Materjal on üsna vastupidav. Selle omadused võimaldavad trükkida väga täpseid ja keerulisi elemente. EASY PLA-d võib kasutada funktsionaalsete prototüüpide, mänguasjade ja kaunistuste loomiseks. Trükkimise lihtsus peaks vastama hobbistidele ja professionaalsetele kasutajatele.",
    img: "img/EASYPLA.png",
  });
  map.set(item15, {
    desc:
      "Materjal, mida saab kasutada ABS-i asendajana. Seda võib printida nagu tavalist PLA-d ja seejärel kuumutada, saades seega ABS-ile sarnased omadused. See võimaldab teil sellest materjalist printimisel vahele jätta ja vältida kõiki printimisega seotud ebamugavusi: kokkutõmbumine, ebameeldiv lõhn, ohtlikud aurud . Lisaks on materjal pärast enam löögi- ja kuumakindlam. HD PLAtootmisel kasutatavad toormaterjalid on toiduainetega kokkupuutumiseks ohutud vastavalt Euroopa Liidu standarditele.",
    img: "img/HDPLA.png",
  });
  map.set(item16, {
    desc:
      "Muutuva maailmaga kaasaskõimiseks ja 3D-printimise kasutajate ökoloogiliste ootuste rahuldamiseks oleme loonud Fiberlogy R PLA. See filament on sügava järelemõtlemise ja pingutuste vili. Keskendusime kvaliteetse toote ühendamisele, tootmisprotsesside optimeerimisele ja ökosüsteemile kahjuliku mõju minimeerimisele.",
    img: "img/R-PLA.jpg",
  });
  map.set(item17, {
    desc:
      "See filament on suurema löögikindlusega filament. Selle parameetrid ületavad isegi ABS-i. Säilitades PLA-le iseloomuliku trükkimisprotsessi lihtsuse ja turvalisuse, on IMPACT PLA ideaalne äärmuslikes tingimustes töötavate nõudlike toodete loomiseks.",
    img: "img/IMPATC_PLA.png",
  });
  map.set(item18, {
    desc:
      "filament on Fiberlogy ühendatud ja kestva pingutuse tulemus. Nende eesmärk oli luua kvaliteetne toode, mis ühendaks ainulaadse ilme, kõrge vastupidavuse ja printimise lihtsuse. Fiberlogys FIBERSILK METALLIC pakub sellega loodud väljatrükkide ainulaadset elegantsi. Neid iseloomustab siidine metalliline läige.Selle esteetilist väärtust suurendab veelgi saadaolevate värvide rikkalik valik. Fiberlogy on leidnud laia valiku erksaid värve, et iga kasutaja leiaks endale midagi sobivat. Metallilise viimistlusega on lihtne kihtide vahelisi piire varjata, muutes kogu trükise ühtlasemaks ja ekspressiivsemaks.",
    img: "img/fibersilkmetallic.png",
  });
  // Rosa 3D
  map.set(item19, {
    desc:
      "ROSA3D poolt valmistatud ASA-filament (akrüülnitriil-stüreen-akrüül) on UV-kindel, niiskuskindel ja kuumuskindel polümeer. ASA UV-vastupidavus muudab selle ideaalseks materjaliks välistingimustes kasutamiseks, mis on intensiivselt avatud päikese ja erinevate ilmastikutingimuste käes. ASA sobib siis, kui vajate tõhusat materjali, mis põhjustab vähem printimisprobleeme kui ABS. Filamendil on madalam kokkutõmbumisaste ja tekitatud lõhn on palju vähem tajutav. ASA väljatrükkide pehmenemispunkt on kõrgem kui PLA ja PETG, temperatuuril kuni 94 ° C pole deformatsiooni märke. ASA erakordsed mehaanilised ja termilised omadused ning suurepärane vastupidavus UV-kiirgusele muudavad selle täiuslikuks materjaliks ja ABS alternatiiv kasutamiseks auto- ja meretööstuses ning välistingimustes, näiteks peegelkorpuste, katete, radiaatorikatete ja andurite korpuste jaoks",
    img: "img/ASA.jpeg",
  });
  map.set(item20, {
    desc:
      "ROSA3D PET-G Standard filament pakub lihtsat printimist, mis on võrreldav PLA-ga. See on pühendatud kasutajatele, kes tegelevad nii amatöör- kui ka professionaalse 3D-printimisega. PET-G standardi abil valmistatud detaile iseloomustab suur täpsus, haardumine lauaga, lõhna puudumine ja vähene kokkutõmbumine. PET-G standardi väljatrükkidel on tugev keemiline vastupidavus. Neid saab liivapritsiga puurida, saagida, lihvida, lõigata või värvida, ilma et nende terviklik struktuur oleks kahjustatud. PET-G standardi filament on toodetud toidukvaliteediga materjalidest vastavalt Euroopa Liidu ja FDA määrustele.",
    img: "img/PET-Gstandard.jpeg",
  });
  map.set(item21, {
    desc:
      "ROSA3D kõrgekvaliteediline filament PET-G Premium oli loodud vastama tööstuse kõige nõudlikumatele vajadustele. Seda iseloomustab suurepärane kihi haardumine ja see võimaldab peaaegu horisontaalset printimist suure kaldenurgaga (75 °) ilma tugede kasutamiseta. Tugevad kihid kihtide vahel loovad väljatrüki vertikaalsete külgseinte täiesti sileda pinna. Tänu kvaliteetsele kihtide liimimisele on PET-G Premium väljatrükid väga vastupidavad, mis tähendab, et neid saab pärast printimist ka mitmesuguste mehaaniliste töötlusprotsessidega, sealhulgas lihvimise ja tükeldamisega. Materjalil on silmapaistvalt madal kahanemine ja madal deformatsioonitundlikkus jahtumisel; see võimaldab hõlpsat ja puhast printimist ilma ebameeldiva lõhnata. Ülaltoodud eelised muudavad meie PET-G Premium täiuslikuks tööriistaks suuremate objektide printimiseks - aga ka kergemate, õhukese seinaga väljatrükkide jaoks ja prototüüpide valmistamiseks.",
    img: "img/Pet-GPremium.jpeg",
  });
  map.set(item22, {
    desc:
      "Rosa3D toodetud PET-G + CF filament oli mõeldud masinate konstruktsioonielementide ja liikuvate osade printimiseks, kus on vaja suuremat vastupidavust ja kuumakindlust. PET-G + CF väljatrükkidele on iseloomulik vähene vormimise kokkutõmbumine, need on lõhnatud ja omavad kihtide vahel väga tugevat sidet. Materjalil on grafiit, matt pind ja sile, peaaegu satiinist struktuur ning seda on suhteliselt lihtne printida. Vormi vähene kokkutõmbumine võimaldab printida avatud seadmes. PET-G + CF filamendil on tugev keemiline vastupidavus ja süsinikkiu lisamine suurendab selle mehaanilist ja soojuslikku vastupidavust ning löögitugevust, mis tagab selle materjali universaalse kasutamise.",
    img: "img/Petg+cf.jpeg",
  });
  map.set(item23, {
    desc:
      "Rosa3D PA + 15CF filament on nailon- ja süsinikkiudude kombinatsioon. Mõlema materjali eeliste kombineerimine võimaldab saada uue toote, mis on erakordselt vastupidav. Filamendi väljatrükid PA + 15CF sobivad pidevaks tööks temperatuuridel üle 160 ° C. PA + 15CF väljatrükke saab hõlpsasti kasutada terasdetailide asendajatena, et vähendada seadme või konstruktsiooni kogumassi. PA + 15CF iseloomustab selle lihtne kasutamine trükimisel ja tänu süsinikkiustäidisele on sellel väike vormide kahanemine. Soovitatav eriti professionaalidele ja edasijõudnutele. PA + 15CF-ga printimisel on soovitatav kasutada karastatud terasest otsikuid (messing- ja alumiiniumdüüsid võivad hõõrduda), soovitatav suurus> 0,3 mm.",
    img: "img/pa15cf.jpeg",
  });
  map.set(item24, {
    desc:
      "Rosa3D toodetud PLA Tech filament on kombinatsioon kõigist PLA trükkimise eelistest ja ABS vastupidavusest. PLA Tech on valmistatud biolagunevast biopolümeerist, mida iseloomustab kõrge vastupidavus UV-kiirgusele, löögitugevus ja matt alabastriinpind (loomulikus valguses jätab see mulje kui “valgest kivist” või “luust”). ABS-i asemel PLA Tech abil printimine tagab ABS-le iseloomuliku vormide vähese kahanemise ja ebameeldivate teravate lõhnade puudumise.",
    img: "img/PLAtech.jpeg",
  });
  map.set(item25, {
    desc:
      "BioWOOD by Rosa3D on hõlpsasti prinditav filament, mida soovitatakse nii professionaalidele kui ka algajatele. Materjalil on trükkimisel väga väike vormimise kokkutõmbumine ja seda saab trükkida avatud seadmega. BioWOOD väljatrükke saab puitdetailide abil mehaaniliselt töödelda (näiteks lihvida, treida, puurida jne), samuti värvida ja lakkida. BioWOOD on toodetud biopolümeerist, mis koosneb 100% looduslikest ja 100% taastuvatest ressurssidest. Need lagunevad looduslikus hapnikuvabas keskkonnas (kompost) ja vees (vastupidiselt PLA-le, mis laguneb rangelt määratletud tingimustes). BioWOODil on toidutaseme sertifikaat ja see lõhnab loodusliku puidu järele.",
    img: "img/Biowood.jpeg",
  });
  map.set(item26, {
    desc:
      "ROSA3D toodetud PLA Premium filament konstrueeriti spetsiaalselt modifitseeritud materjalist, et suurendada PLA trükkimise eeliseid ja saavutada samal ajal suurem mehaaniline ja soojuslik vastupidavus - tulemused on võrreldavad ABS omadega. PLA Premium väljatrükke saab kuumutada (ahjus temperatuuril 110–120 ° C), et veelgi parandada trükitud elementide vastupidavust kõrgetele temperatuuridele. Kõiki detaile PLA Premium kasutades valmistatud detaile iseloomustab suur täpsus, laua külge kleepumine, lõhna puudumine ja vähene kokkutõmbumine.",
    img: "img/PLAPremium.jpeg",
  });
  map.set(item27, {
    desc:
      "Rosa3D PLA Starter filament on mõeldud 3D-printerite algajatele kasutajatele. Sujuv printimine meie PLA Starteriga võimaldab teil printida üha keerukamate ja keerukamate projektidega. PLA Starterit iseloomustab madal kokkutõmbumine ja ebameeldiva lõhna puudumine. PLA Starter väljatrükke iseloomustab ka kihtide väga tugev nakkuvus, detailide kvaliteetne taasesitamine ja poolläbipaistev pind. Filament on valmistatud biolagunevast biopolümeerist.",
    img: "img/PLAstarter.jpeg",
  });
  map.set(item28, {
    desc:
      "BioCreate firmalt ROSA 3D iseloomustab printimise lihtsus, mis on võrreldav PLA-ga. Selle materjali töötemperatuur on peaaegu 120 ° C, mis on palju kõrgem kui PLA-l. Sellel on ka printimisel madal kahanemisaste, erinevalt ABS-ist saab seda printida avatud seadmega. BioCreate filament on valmistatud biopolümeerist, mis koosneb 100% looduslikest ja taastuvatest toorainetest. Need lagunevad looduskeskkonnas anaeroobsetes tingimustes (s.h kompost). BioCreateil on lai valik rakendusi, alates masinaosadest kuni dekoratiivsete elementide, nõude, mänguasjade ja mööblini. BioCreate väljatrükke saab töödelda (treida, puurida jne) ja värvida",
    img: "img/Biocreate.jpeg",
  });
  // Teenused
  map.set(item29, {
    desc:
      "Meie kasutuses on 2 suuremõõtmelist printerit. Suudame printida mõõtmetega 600*600*600 mm. Printimistemperatuur on kuni 400 kraadi ning põhjatemperatuur kuni 130 kraadi. 2-in 1-out printimise võimalus. Kinnine printer tagab kvaliteetse toote. Suudame printida kõiki antudhetkel olemasolevaid materjale.",
    img: "img/printerCard.jpg",
  });
  map.set(item30, {
    desc:
      "Meie kasutuses on 3D skanner, mis võimaldab skaneerida täpsusega 0,5mm. Skaneerimis kaugus ca 40 cm. Ühilduvus arvutiga USB 2.0",
    img: "img/scanningCard.jpg",
  });
  map.set(item31, {
    desc: "Pakume 3D Modelleerimist ja Kujundust",
    img: "img/modelingCard.jpg",
  });

  // you can bind on click handler for example
  const list = document.querySelectorAll("ol"); // TAKIT: Modified to return multiple elements
  list.forEach(function() {
    // TAKIT: Added to manage the multiple elements
    this.addEventListener("click", (event) => {
      // if element that was registered in our map triggered the event
      if (map.has(event.target)) {
        var wrapper = event.target.closest(".wrapper"); // TAKIT: Get parent wrapper
        // change text of description area
        wrapper.querySelector(".description").textContent = map.get(
          event.target
        ).desc; // TAKIT: Modified
        // change src of the image
        wrapper.querySelector("img").src = map.get(event.target).img; // TAKIT: Modified
      }
    });
  });

  // -----------------END OF LOGIC ELEMENT-----------------
</script>
