<style>

body, html {
  height: 100%;
}

.nav-link-active {
  background-color: #189ab4;
  color: white !important;
}


#c-a {
  text-decoration: none !important;
  color: #fff ; 
  transition: all .2s;
} 

#c-a:hover {
  background-color: #189ab4;
  color: #fff !important;
}

ul > li > #c-a{
  font-size: 20px !important;
  line-height: 34px !important;
  font-weight: 400 !important;

}

li {
  margin: 10px;
}

.splitter:before {
  content: "";
  border-right: .5px solid silver;
  border-left: .5px solid silver;
  font-size: 16px !important;
  line-height: 34px !important;
  color: silver;
}


.nav-link {
  display: inline !important;
}


.nopadding {
  margin: 0 !important;
  padding: 0 !important;
}

.c-custom {
  background-color: #FCFCFC !important;
  max-width: 716px !important;
}


#my-h1 {
    color: #70b350;
    text-decoration: none;
    font-size: 42px;
    font-weight: bold;
    text-transform: none;
    font-family: 'Mako', sans-serif;
    margin-bottom: 15px;
    margin-top: 20px;
}

#my-h2 {
    color: #fff;
    background-color: #70b350;
    text-decoration: none;
    font-size: 30px;
    text-transform: none;
    font-family: 'Mako', sans-serif;
    padding: 20px;

}

@media (max-width: 766px) {

  .banner {
    display: none !important;
  }

  ul {
    text-align: center;
  }

  .splitter {
    display: none;
  }


}
</style>