{{ define "main" }}

<header>
	<div class="view bg-img">
		<div class="h-100 d-flex justify-content-center align-items-center flex-column">
			<h1 class="title text-white font-weight-bold">{{ .Params.Subtitle }}</h1>
			<div class="lead text-white text-center" style="width: 41%;">{{ .Content }}</div>
			<div class="lead text-white font-weight-bold text-center" style="width: 41%;"><a class="text-reset" href="https://futusol.voog.com/">Meie E-Pood Asub Siin</a></div>
		</div>
	</div>
</header>

<p style="width: 50%;" class="lead text-center mx-auto">Futusol OÜ alustas tegevust 2018 aastal ning on arenev ettevõte. Põhitegevuseks on 3D printimine ja 3D scanneerimine. Oleme Fiberlogy  filamentide esindajad Eestis.</p>

<img src="img/toetused.jpg" alt="toetused" class="w-100 mx-auto">


<style>
html,
body,
header,
.view {
  height: 90%;
}


.bg-img {
	background-image: url('img/background.jpg');
	background-repeat: no-repeat;
	background-size: fill;
}

</style>

{{ end }}