{{ define "main" }}


<div class="teenused-container container p-5">
    <div class="lead">
        Pakume erinevaid 3D teenuseid
    </div>
    <hr>    
   <div class="card-group">
    <div class="card">
        <img src="/img/modelingCard.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">3D Modelleerimine</h5>
        <p class="card-text">Pakume 3D Modelleerimis ja Kujundus teenust</p>
        </div>
    </div>
    <div class="card">
        <img src="/img/printerCard.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">3D Printimine</h5>
        <p class="card-text">Meie kasutuses on 2 suuremõõtmelist printerit. Suudame printida mõõtmetega 600*600*600 mm. Printimistemperatuur on kuni 400 kraadi ning põhjatemperatuur kuni 130 kraadi. 2-in 1-out printimise võimalus. Kinnine printer tagab kvaliteetse toote. Suudame printida kõiki antudhetkel olemasolevaid materjale.</p>
        </div>
    </div>
    <div class="card">
        <img src="/img/scanningCard.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">3D Skaneerimine</h5>
        <p class="card-text">Meie kasutuses on 3D skanner, mis võimaldab skaneerida täpsusega 0,5mm. Skaneerimis kaugus ca 40 cm. Ühilduvus arvutiga USB 2.0</p>
        </div>
    </div>
    </div>
</div>

<style>
</style>


{{ end }}